<input name="hall_ticket" placeholder="Hall Ticket No" required>
<input name="name" placeholder="Full Name" required>
<input name="age" type="number" placeholder="Age" required>
<select name="gender" required>
    <option value="Male">Male</option>
    <option value="Female">Female</option>
</select>
<input name="mobile" placeholder="Mobile Number" required>
<input name="location" placeholder="Location" required>
<input name="email" type="email" placeholder="Email" required>
<input name="dob" type="date" placeholder="Date of Birth" required>
